.rdp-warning {
  color: var(--theme-error-950);
  background-color: var(--theme-error-300);
  padding: 4px 8px;
  margin-bottom: 1rem;
}

.rdp-nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.rdp-button_previous,
.rdp-button_next {
  background-color: transparent;
  border: unset;
  padding: unset;
  cursor: pointer;
}

.rdp-chevron {
  fill: var(--theme-elevation-400);
}

.rdp-dropdowns {
  padding-block: 0.5rem;
  display: flex;
  gap: 1rem;
}

.rdp-dropdown {
  background-color: transparent;
  border: unset;
  font: inherit;
  padding: unset;
  cursor: pointer;
}

.rdp-caption_label {
  display: none;
}

.rdp-month_grid {
  width: 100%;
  color: var(--theme-elevation-1000);
  table-layout: fixed;
}

.rdp-weekdays {
  background-color: var(--theme-elevation-100);
}

.rdp-weekday {
  font-weight: normal;
  padding: .5rem;
}

.rdp-day {
  height: 60px;
  border: 1px solid var(--theme-elevation-150);
}

.rdp-day_button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.rdp-hidden {
  opacity: 0;
}

.rdp-day_other-bookings {
  background-color: rgb(250, 213, 144);
  border-color: rgb(250, 213, 144);
}

.rdp-day_current-booking {
  background-color: rgb(204, 235, 157);
  border-color: rgb(204, 235, 157);
}

.rdp-day_current-booking.rdp-day_other-bookings {
  background: repeating-linear-gradient(
    -45deg,
    rgb(250, 213, 144),
    rgb(250, 213, 144) 10px,
    rgb(204, 235, 157) 10px,
    rgb(204, 235, 157) 20px
  );
}

.rdp-legend {
  list-style-type: none;
  margin-block-start: 2rem;
  padding-inline: unset;

  li {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 0.25rem;
  }
}

.rdp-legend_box {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border: 1px solid;
}

.rdp-legend_box--free {
  background-color: transparent;
  border-color: var(--theme-elevation-150);
}

.rdp-legend_box--booked {
  background-color: rgb(250, 213, 144);
  border-color: rgb(250, 213, 144);
}

.rdp-legend_box--current {
  background-color: rgb(204, 235, 157);
  border-color: rgb(204, 235, 157);
}

.rdp-legend_box--overlap {
  border-color: transparent;
  background: repeating-linear-gradient(
    -45deg,
    rgb(250, 213, 144),
    rgb(250, 213, 144) 5px,
    rgb(204, 235, 157) 5px,
    rgb(204, 235, 157) 10px
  );
}