<header>
  <nav>
    <a href="#">Die Hütte</a>
    <a href="#">Galerie</a>
    <a href="#">Preise</a>
    <a href="#">Buchen</a>
  </nav>

  <div aria-hidden="true">
    <span>Zähringer Hütte</span>
    <span>Urlaub im Schwarzwald</span>
  </div>

  <ul>
    <li>
      <a href="tel:+491739940283">+49 (0)173 9940 283 </a>
      <a href="mailto:info@zaehringer-huette.de">info@zaehringer-huette.de</a>
    </li>
  </ul>
</header>
