<div aria-hidden="true" class="text-center uppercase leading-none">
  <span class="block font-serif text-2xl font-semibold">Zähringer Hütte</span>
  <span class="text-xs tracking-wider">Urlaub im Schwarzwald</span>
</div>
